* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: black;
}

footer {
    background-color: $color-especial;

    &_li {
        list-style: none;
        text-decoration: none;
        padding-right: 30px;
    }

    &_li_a {
        text-decoration: none;
    }
}