/* Reset y estilos generales */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: black;
}

/*---------- Header ----------*/
.encabezado {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 90px;
  background-color: whitesmoke;
}

.img-logo {
  width: 100px;
  height: 90px;
  padding-left: 30px;
}

/*---------- Footer ----------*/
.contenedor-footer {
  background-color: whitesmoke;
}

.img-footer {
  width: 130px;
  height: 120px;
  padding-left: 30px;
}

footer li {
  text-decoration: none;
  list-style: none;
  padding-right: 30px;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer-links {
  padding: 30px 0px 50px 0px;
}

.copyright {
  font-size: 0.9rem;
  padding-left: 250px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

/*---------- Index ----------*/
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  font-size: 2.1rem;
  padding-top: 22vh;
}

.main-parrafo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 100px;
  justify-items: center;
  font-size: 1.2rem;
  padding-top: 5vh;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .main-parrafo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 10px);
    justify-items: center;
  }
}

/*---------- Contacto ----------*/

.form-contacto {
  height: auto;
  background-image: url(../img/fondo-oscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section2 {
  height: 75vh;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  justify-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 5vh 0vh 5vh 0vh;
}

@media screen and (max-width: 360px) {
  .section2 {
    height: 90vh;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    justify-items: center;
  }

  .form-nombre input {
    width: auto;
  }

  .form-email input {
    width: auto;
  }

  .form-comentarios textarea {
    width: auto;
  }
}

@media screen and (max-width: 770px) {
  .section2 {
    height: 90vh;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    justify-items: center;
  }

  .form-nombre input {
    width: auto;
  }

  .form-email input {
    width: auto;
  }

  .form-comentarios textarea {
    width: auto;
  }
}

@media screen and (max-width: 1200px) {
  .section2 {
    height: 90vh;
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    justify-items: center;
  }

  .form-nombre input {
    width: auto;
  }

  .form-email input {
    width: auto;
  }

  .form-comentarios textarea {
    width: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0px 10px 0px 10px;
}

form h2 {
  justify-content: center;
  font-size: 2.1rem;
  padding: 5vh 30px 5vh 0px;
}

.form-nombre {
  font-size: 1rem;
  padding-bottom: 2vh;
}

.form-nombre input {
  width: 73%;
}

.form-email {
  font-size: 1rem;
  padding-bottom: 2vh;
}

.form-email input {
  width: 90%;
}

.form-comentarios {
  font-size: 1rem;
  padding-bottom: 1.5vh;
}

.form-comentarios textarea {
  width: 99%;
}

.form-input {
  padding: 2vh 10px 1.5vh 0px;
}

.form-input input {
  padding: 5px 10px 5px 10px;
  background-color: #ffc105;
  border: 1px solid #000000;
  border-radius: 3px;
}

/*---------- Sobre mi ----------*/
.sección-sobreMi {
  height: auto;
  background-image: url(../img/flowers-red.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section3 {
  height: 70vh;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 100px;
  justify-items: center;
  font-size: 1.2rem;
  padding-top: 5vh;
  background-color: white;
  border-radius: 15px;
  margin: 5vh 0vh 5vh 0vh;
}

.section3 h2 {
  text-align: center;
  font-size: 2.1rem;
  border-bottom: #ffc105 solid 2px;
}

.section3 div {
  padding-top: 7vh;
  display: grid;
  grid-template: column;
  width: 800px;
}

@media screen and (max-width: 360px) {
  .section3 {
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 10px);
    justify-items: center;
    font-size: 1.2rem;
    padding-top: 5vh;
    background-color: white;
    border-radius: 15px;
  }

  .section3 h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: none;
  }

  .section3 div {
    padding-top: 7vh;
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    width: 100%;
    padding-left: 5px;
  }
}

@media screen and (max-width: 770px) {
  .section3 {
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 10px);
    justify-items: center;
    font-size: 1.2rem;
    padding-top: 5vh;
    background-color: white;
    border-radius: 15px;
  }

  .section3 h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: none;
  }

  .section3 div {
    padding-top: 7vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    width: 100%;
    padding-left: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .section3 {
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 10px);
    justify-items: center;
    font-size: 1.2rem;
    padding-top: 5vh;
    background-color: white;
    border-radius: 15px;
  }

  .section3 h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: none;
  }

  .section3 div {
    padding-top: 7vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    width: 100%;
    padding-left: 5px;
  }
}
/*---------- Portafolio ----------*/
.portafolio-contenedor {
  height: auto;
  background-image: url(../img/flower.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
}

.section4 {
  height: auto;
  width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 5vh 0vh 5vh 0vh;
}

.section4 h2 {
  font-size: 2.1rem;
  border-bottom: #ffc105 solid 2px;
}

.grilla-galeria {
  padding-top: 3vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 1.5vh 1.5vh;
  padding: 0vh 1.5vh 0vh 1.5vh;
}

.grilla-item {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

@media screen and (min-width: 360px) {
  .portafolio-contenedor {
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .section4 {
    height: 210vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 6, 1fr auto;
    background-color: white;
    border-radius: 15px;
  }

  .grilla-galeria {
    padding-top: 3vh;
    background-color: white;
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: auto;
    gap: 1vh 1vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
  }

  .grilla-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/*---------- Ubicación ----------*/
.ubicacion-contenedor {
  height: 120vh;
  background-image: url(../img/flower-rosada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section5 {
  height: 88vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.section5 h2 {
  font-size: 2.1rem;
  border-bottom: #ffc105 solid 2px;
}

.section5 div {
  padding-top: 5vh;
}

.section5 div p {
  text-align: center;
}

.section5 iframe {
  padding-top: 5vh;
  border-radius: 10px;
}

.iframe {
  width: 600px;
  height: 450px;
}

@media screen and (max-width: 360px) {
  .iframe {
    width: auto;
    height: auto;
  }
}
