.encabezado {
    background-color: $nav-footer;
}

.contenedor-footer {
    background-color: $nav-footer;
}

.copyright {
    background-color: $color-especial;
}

footer a {
    color: $color-principal;
}

